* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::selection {
    background-color: #FAB700;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 32px;
}

.navbar {
    width: 100%;
    position: fixed;
    color: white;
    padding: 7px 0;
    transition: all 1s ease;
    z-index: 999;
}

.navscroll {
    color: white;
    background: rgba(0, 0, 0, 0.705);
    transition: all 1s ease;
}

.nav {
    margin: auto;
    align-items: center;
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
}

.navup {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    transition: 0.7s;
}

.navup .icons {
    display: flex;
    gap: 9px;
    cursor: pointer;
}

.navup .text ul {
    display: flex;
    gap: 9px;
}

.navup .text ul li:hover {
    color: #FAB700;
    cursor: pointer;
    transition: .4s;
}

.navlow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 0;
    transition: 0.7s;
}

.navlow ul {
    gap: 26px;
    font-size: 13px;
    cursor: pointer;
}
.navlow .menu{
    font-size: 22px;
    display: none;
}

.dropbtn {
    background-color: transparent;
    color: white;


    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    transition: all .4s;
    margin-top: 3px;
    display: block;
}


hr {
    margin-top: 9px;
    border: 1px solid rgba(128, 128, 128, 0.479);
}

.s1 {
    background: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), url("https://preview.colorlib.com/theme/security/img/header-bg.jpg.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 200px 0;

}

.s1-in {
    color: white;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: left;
}

.s1-in .text {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 79%;
    gap: 17px;
}

.s1-in .text h3 {
    font-size: 15px;
    font-weight: 100;
}

.s1-in .text h1 {
    font-size: 49px;
}

.s1-in .text p {
    font-weight: 100;
}

.s1-in .text button {
    width: 20%;
    padding: 12px;
    color: white;
    background-color: #FAB700;
    border-color: #FAB700;
    border: 1px solid #FAB700;
}

.s1-in .text button:hover {
    background-color: transparent;
    transition: .4s;
    color: #FAB700;
    border: 1px solid #FAB700;
}

.s2 {
    width: 100%;
}

.s2-in {
    width: 100%;
    display: flex;
    padding: 70px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.s2-in .text h1 {
    font-size: 38px;
}

.s2-in .text p {
    font-size: 14px;
    color: gray;
    font-weight: 300;
    margin-top: 9px;
}

.s2-in .boxes {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;

}

.s2-in .boxes .box1 {
    width: 31%;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    gap: 10px;
    padding: 26px;
    background-color: #F9F9FF;
}

.s2-in .box1 .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.s2-in .boxes .box1 .text p {
    font-size: 13px;
    color: gray;
    font-weight: 300;
}

.s2-in .boxes .box1 .img img {
    width: 100%;
}

.s2-in .boxes .box1:hover {
    background-color: #FAB700;
    transition: .4s;
}

.s3 {
    width: 100%;
    background-color: #F9F9FF;
}

.s3-in {
    width: 100%;
    display: flex;
    padding: 40px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.s3-in .text h1 {
    font-size: 38px;
}

.s3-in .text p {
    font-size: 14px;
    color: gray;
    font-weight: 300;
    margin-top: 9px;
}
.s3-in .boxes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    padding: 70px 0;
}
.s3-in .box1{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: left;
    background-color: white;
    padding: 38px;
    gap: 10px;
}
.s3-in .box1 .box1-up{
    font-size: 12px;
}
.s3-in .box1 .box1-low{
    font-size: 14px;
    color: gray;
    font-weight: normal;
}
.s3-in .boxes .box1:hover{
    background-color: #FAB700;
    transition: .5s;
    box-shadow: 10px 16px 36px -19px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 16px 36px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 16px 36px -19px rgba(0,0,0,0.75);
    cursor: pointer;
}
.s4 {
    width: 100%;
    background-color: #F9F9FF;
}

.s4-in {
    width: 100%;
    display: flex;
    padding: 40px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.s4-in .text h1 {
    font-size: 38px;
}

.s4-in .text p {
    font-size: 14px;
    color: gray;
    font-weight: 300;
    margin-top: 9px;
}
.s4-in .main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}
.s4-in .main .box1{
    width: 22%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.s4-in .main .box1 .text{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.s4-in .main .box1 .text div{
    background-color: black;
    color: white;
    width: 50%;
    text-align: center;
    padding: 4px;
}
.s4-in .main .box1 .text h3{
    font-size: 17px;
}
.s4-in .main .box1 .img img{
    width: 100%;
    overflow: hidden;
}
.s4-in .main .box1 .img{
    overflow: hidden;
}
.s4-in .main .box1 .textbottom{
    display: flex;
    justify-content: space-between;
    color: gray;
    font-size: 14px;
}
.s4-in .main .box1:hover .text h3{
    color: #FAB700;
    transition: .3s;
}
.s4-in .main .box1:hover .img img{
    transform: scale(1.05);
    transition: .3s;
    overflow: hidden;
}

footer{
    width: 100%;
    background-color: #04091E;
    color: white;
}
.footer-in{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.footer-in .box1{
    width: 41%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.footer-in .box1 h2{
    font-size: 17px;
}
.footer-in .box1 p{
    font-size: 14px;
    color: #777777;
}
.footer-in .box2{
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 28px;
}
.footer-in .box2 h2{
    font-size: 17px;
}
.footer-in .box2 p{
    font-size: 14px;
    color: #777777;
}
.footer-in .box2 div input{
    width: 80%;
    padding: 9.5px;
}
.footer-in .box2 div button{
    padding: 9.5px;
    background-color: #FAB700;
    border:2px solid #FAB700;
}
.footer-in .box3{
    width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 34px;
}
.footer-in .box3 h2{
    font-size: 17px;
}
.footer-in .box3 p{
    font-size: 14px;
    color: #777777;
}
.footer-in .box3 div ul{
    list-style: none;
    display: flex;
    gap: 17px;
}
.footer-in .box3 div ul li:hover{
color: #FAB700;
transition: .2s;
}




@media screen and (max-width:768px) {
    .navlow .list{
        display: none;
    }
    .navlow .menu{
        display: block;
    }
    .s1-in .text{
        width: auto;
    }
    .s2-in .boxes{
        flex-direction: column;
        gap: 50px;
    }
    .s2-in .boxes .box1{
        width: 100%;
        display: block;
        text-align: center;
    }
    .s3-in .box1{
        width: 80%;
    }
    .s4-in .main{
        flex-direction: column;
        gap: 50px;
    }
    .s4-in .main .box1{
        width: 80%;
    }
    .footer-in{
        flex-wrap: wrap;
        gap: 50px;
    }
    .footer-in .box1{
        width: 45%;
    }
    .footer-in .box2{
        width: 45%;
    }
    
}
